
:root {
    --hero-bg: #1f2937;
    --main-text: #f9faf8;
    --secondary-text: #e5e7eb;
    --quote-bg: #e5e7eb;
    --blue: #3882f6;
}


body { 
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: var(--hero-bg);
}

.hero-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1em;
}

.header-links {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.header-links > a {
    text-align: center;
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #9c949b;
    height: 25px;
    width: 100px;
}

.header-links > a:hover{
    background-color: #b886b1;
}


.header-logo > img {
    width: 15%;
    height: auto;
    border-radius: 50%;
}

.hero-main {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    padding: 2em;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    color: var(--main-text);
}

.hero-text {
    width: 40%;
}

.hero-text > p {
   color: var(--secondary-text);
   font-size: 18px;
}

.signup {
    background-color: var(--blue);
    color: var(--main-text);
    font-size: 20px;
    font-weight: bold;
    width: 20%;
    height: 15%;
    border-radius: 10px;
    border: 2px solid var(--secondary-text);
}

.signup:hover{
    cursor: pointer;
    width: 22%;
    height: 18%;
    background-color: aqua;
    transition: 1s;
}

.hero-img > img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.info-text {
    background-color: var(--main-text);
    border: 1px solid transparent;
    text-align: center;
    margin-top: 5em;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: var(--hero-bg);
}


.info {
    background-color: var(--main-text);
    display: flex;
    justify-content: space-around;

}

.info > div {
    text-align: center;

}

.info > div > img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid var(--blue);
}

.info > div > p {
    color: #575957;
}

.quote-section {
    background-color: var(--quote-bg);
    border: 1px solid transparent;
    padding-top: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: 200;
    color: var(--hero-bg);
    padding: 0 4em 0 4em;
}

h3  {
    font-size: 30px;
    align-self: flex-end;
    padding-right: 6em;
    color: var(--hero-bg);
}

.content {
    background-color: var(--main-text);
    border: 1px solid transparent;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calltoaction {
    background-color: var(--blue);
    width: 80%;
    height: 8em;
    border-radius: 10px;
    padding: 0px 3em 0px 3em;
}

.button2 {
    float: right;
    width: 10%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: var(--hero-bg);
    color: var(--secondary-text);
    font-family: arial;
    font-size: 25px;
    font-weight: lighter;
}